<%=turbo_frame_tag "invitation" do %>
    <%=image_tag "https://clipartmag.com/images/happy-and-sad-emoji-13.png", style: "width:100px; height:100px"%>
    <h1>Lo sentimos no pudimos encontrar tu invitacion</h1>
    <p>Puedes comunicarte con Claudia o Rene y verificar tus datos al +50377298463 o al correo rene.garciah90@gmail.com</p>
<%end%>