<%=turbo_frame_tag "invitation" do %>
    <%= link_to "Modificar nombres", edit_invitation_path(id: @guest.id),  data: { turbo_frame: "guest-names" },  class: "btn btn-primary" %>
   <%=turbo_frame_tag "guest-names" do %>
        <%= render "guest_list", main_guest: @guest %>
    <%end%>
    <p>Estas invitado a nuestra boda a celebrarse este 13 de Agosto a celbrarse en la parroquia "La Sagrada Familia"<br/>y posteriomente a una pequeña recepcion en el hotel Las Margaritas ubicado en la colonia San Francisco</p>
<%end%>